<%- include('./partials/header') -%>

<head>
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<% if(currentUser !== null){%>
    <div class="container my-3">
        <h2  class='text-center m-4 fire-text'><b><%= currentUser.name %> </b></h2>
        <div class="row">
            <% for(video of videos){%>
                    <div class="col-10 offset-1 col-sm-6 offset-sm-0 col-lg-4 mt-4" style="cursor:pointer" onclick="window.location.href= '/video/<%= video._id %>'">
                        <div class="card border-info">
                            <video height="240" controls onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
                              <source type="video/mp4" src="/<%= video.filePath %>">
                            </video>
                            <div class="card-body">
                              <h5 class="card-title"><%= video.title %> </h5>
                              <p class="card-text text-truncate"><%= video.description %> </p>
                              <div class='row mb-3'>
                                <form action="/video/<%= video._id %>/like" method="POST" class='ml-3'>
                                  <button type="submit" class="btn btn-outline-success">Like</button>
                                  <span class='text-secondary'><%= video.likes %></span>
                                </form>
                                <form action="/video/<%= video._id %>/unlike" method="POST" class='ml-3'>
                                  <button type="submit" class="btn btn-outline-warning">Dislike</button>
                                  <span class='text-secondary'><%= video.unlikes %></span>
                                </form>
                              </div>
                              <p class="card-text text-right text-muted">Posted on: <%= video.createdAt.getDate() %>/<%= video.createdAt.getMonth()+1 %>/<%= video.createdAt.getFullYear() %> </p>
                            </div>
                          </div>
                    </div>
            <%} %>
        </div>
    </div>
<%}
else {%>
      <h4 class='m-3 text-center'>You need to be logged in to view user videos</h4>
<%} %>


<%- include('./partials/footer') -%>